extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Loc8r
          small &nbsp;Welcome Papussssssssssssssss!!!
  .row
    .col-xs-12.col-md-3
        p
          h2 Love you sooooooooooooo much kutty. sorrrryy. Let's go outside somewhere today, at least for a walk
